.room {
  width: 100%;
  text-align: left;
  margin-top: 2rem;

  border-bottom: 1px solid #d3d3d3;
}

.room > p,
h3 {
  margin-left: 1rem;
  color: #2f4757;
}

.room > p {
  margin-bottom: 2rem;
  color: #758b9b;
}
