.rooms {
  flex: 0.4;
  background-color: #ebf4fb;
  display: flex;
  flex-direction: column;
}

.rooms__search {
  display: grid;
  place-items: center;

  height: 100px;
  background-color: #e2eef7;
}

.rooms__input {
  display: flex;
  background-color: white;
  padding: 0.5rem;
  width: 80%;
  border-radius: 15px;
  align-items: center;
}

.rooms__input > input {
  border: none;
  outline: none;
}

.rooms__input > .MuiSvgIcon-root {
  color: #d2dde5;
}

.rooms__input > input::placeholder {
  color: #97aec1;
}
