.rooms {
  flex: 0.4;
  background-color: #ebf4fb;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 100vh;
}
.rooms::-webkit-scrollbar {
  display: none;
}

.rooms {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.rooms__search {
  display: grid;
  place-items: center;

  height: 100px;
  background-color: #e2eef7;
}

.rooms__input {
  display: flex;
  background-color: white;
  padding: 0.5rem;
  width: 80%;
  border-radius: 15px;
  align-items: center;
}

.rooms__input > input {
  border: none;
  outline: none;
}

.rooms__input > .MuiSvgIcon-root {
  color: #d2dde5;
}

.rooms__input > input::placeholder {
  color: #97aec1;
}

.rooms__createRoom > form > input {
  border: none;
  outline: none;
  padding: 0.5rem;
  width: 80%;
  border-radius: 15px;
  margin-left: 4px;
}

.rooms__createRoom > form > input::placeholder {
  color: #97aec1;
}

/* media q  */
@media only screen and (max-width: 789px) {
  .rooms {
    height: 20vh;
  }
}

.rooms__createRoom > form > label {
  color: #97aec1;
}

.rooms__createRoom > form > button {
  display: none;
}

a {
  text-decoration: none;
}
